{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body">
  <form action="/currency" method="post">
    <div class="form-group">
      <label for="title">نوع</label>
      <input class="form-control" name="title" type="text" required>
    </div>
    <div class="form-group">
      <label for="change">نام</label>
      <input class="form-control" name="change" type="text" required>
    </div>
    <div class="form-group">
      <label for="unit">نرخ</label>
      <input class="form-control" name="unit" type="text" required>
    </div>
    <div class="form-group">
      <label for="up">قیمت خرید</label>
      <textarea class="form-control" name="up"></textarea>
    </div>
    <div class="form-group">
      <label for="down">قیمت فروش</label> 
      <textarea class="form-control" name="down"></textarea>
    </div>
    <div class="form-group">
      <label for="type">عکس</label>
      <input class="form-control" name="type" type="text"/>
    </div>
    <button type="submit" class="btn btn-dark">افزودن</button>
  </form>
</div>