{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body">
  <h3>ویرایش</h3>
  <form action="/currency/{{currency._id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">نوع</label>
      <input class="form-control" name="title" type="text" value="{{currency.title}}" required>
    </div>
    <div class="form-group">
      <label for="change">نام</label>
      <input class="form-control" name="change" type="text" value="{{currency.change}}">
    </div>
    <div class="form-group">
      <label for="unit">نرخ</label>
      <input class="form-control" required name="unit" type="text" value="{{currency.unit}}">
    </div>
     {{!-- <div class="form-group">
      <label for="unit">Price</label>
      <input class="form-control" name="price" type="number" value="{{currency.price}}">
    </div> --}}
    <div class="form-group">
      <label for="up">قیمت خرید</label>
      <input class="form-control" name="up" type="text" value="{{currency.up}}">
    </div>
     <div class="form-group">
      <label for="down">قیمت فروش</label>
      <input class="form-control" required name="down" type="text" value="{{currency.down}}">
    </div>
    <div class="form-group">
      <label for="type">عکس</label>
      <input class="form-control" name="type" type="text" value="{{currency.type}}" required>
    </div>
   
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>