<div class="row">
{{#each currency}}
  <div class="col-sm-3 col-md-6 col-lg-4 mt-2 item-card p-2">
    {{!-- <h4>نوع:{{type}}</h4> --}}
    <div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">نام: {{change}}</div>
        <div class="col-lg-6 col-md-6 col-sm-12">نرخ: {{unit}}</div>
        {{!-- <div class="col-lg-6 col-md-6 col-sm-12">نوع: {{title}}</div> --}}
      </div>
      {{!-- <div>Price: {{price}}</div> --}}
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">قیمت خرید: {{up}}</div>
        <div class="col-lg-6 col-md-6 col-sm-12">قیمت فروش: {{down}}</div>
      </div>
      <div class="row">
        {{!-- <div class="col-lg-6 col-md-6 col-sm-12">نام عکس: {{type}}</div> --}}
      </div>
    </div>
    {{!-- <p>Creation date: {{creationDate}}</p> --}}
    <div class="card-action mt-2">
      <a class="btn btn-dark mb-2" href="/currency/edit/{{_id}}">ویرایش</a>
      <form method="post" action="/currency/{{_id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="حذف">
      </form>
    </div>
  </div>
{{!-- {{else}} --}}
  {{!-- <p>No todos listed</p> --}}
{{/each}}
</div>