<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <img src="/img/logo.png" class="navbar-brand"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">خانه</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

          {{#if user}}
            <li class="nav-item dropdown">
              <a href="#" 
                class="nav-link dropdown-toggle" 
                data-toggle="dropdown" 
                id="navbarDropdownMenulink">مدیریت طلا و سکه و ارز</a>
                <div class="dropdown-menu">
                  <a href="/currency"
                    class="dropdown-item">
                    لیست
                  </a>
                  <a href="/currency/add"
                    class="dropdown-item">
                    افزودن
                  </a>
                </div>
            </li>
            <li class="nav-item">
              <a href="/users/logout" class="nav-link">
                خروج
              </a>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/users/login" class="nav-link">
                ورود
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/register" class="nav-link">
                ثبت نام
              </a>
            </li>
          {{/if}}
          
        </ul>
      </div>
  </div>
</nav>