@font-face {
    font-family: 'Casablanka';
    src: url('./assets/fonts/casablanka.ttf');
}
.logo {
  width: 130px;
  margin:auto;
}

.bg-dark {
  background-color: #4B3B40 !important
}
.navbar-dark .navbar-brand {
    color: #CBEFB6;
    width: 150px;
}
        
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #CBEFB6 
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(203, 239, 182, .95)
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(203, 239, 182, .5)
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #fff
}

.navbar-dark .navbar-toggler {
    color: rgba(203, 239, 182, .85);
    border-color: rgba(203, 239, 182, .25)
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(92, 164, 169, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-text {
    color: rgba(203, 239, 182, .85)
}

.navbar-dark .navbar-text a {
    color: #CBEFB6
}

.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
    color: #CBEFB6
}       

.jumbotron {
    background-color: #ECF8F8;
    border-radius: .9rem
}

.text-custom-color-darkbrown {
    color: #4B3B40
}
.item-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 16px;
}
.card-details {
}
.card-action {
    display: flex; 
    flex-direction: row;
}
body {
    font-family: Casablanka;
    text-align: right;
}
