<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo.png">
      <h3 class="text-center">
        ورود کاربر
      </h3>
      <form method="post" action="/users/login">
        <div class="form-group">
          <label for="email">ایمیل</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">رمز عبور</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">ورود</button>
      </form>
    </div>
  </div>
</div>