<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo.png">
      <h3 class="text-center">
        ثبت نام کاربر
      </h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <label for="name">نام</label>
          <input type="text" class="form-control" name="name" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">ایمیل</label>
          <input type="email" class="form-control" name="email" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">رمز عبور</label>
          <input type="password" class="form-control" name="password" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password2">تایید رمز عبور</label>
          <input type="password" class="form-control" name="password2" value="{{password2}}" required>
        </div>
        <button type="submit" class="btn btn-primary">ثبت نام</button>
      </form>
    </div>
  </div>
</div>